@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "~@flaticon/flaticon-uicons/css/all/all"; */

/* Media Queries */

/* Coachella Valley Finest Scrollbar */

@media only screen and (min-width: 320px) and (max-width: 1366px) {


  ::-webkit-scrollbar {
    width: 10px;
    background-color: black;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #fb923c;
    border: 0.25em solid rgb(0, 0, 0);
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    border-radius: 100vw;
  }
  html {
    scroll-behavior: smooth;
  }



}

@media only screen and (min-width: 1025px) {
  ::-webkit-scrollbar {
    width: 20px;
    background-color: black;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #fb923c;
    border: 0.25em solid rgb(0, 0, 0);
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);

    border-radius: 100vw;
  }
  html::-webkit-scrollbar-track:hover {
    /* background-color: #555; */
  }

  html {
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 426px) {
  .fs {
    display: none;
  }
}
@media only screen and (max-width: 769px) {
  .x {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .adjust {
    height: 30vh;
    width: 50vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1439px) {
  .adjust2 {
    height: 40vh;
    width: 50vw;
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .adjust3 {
    height: 30vh;
    width: 60vw;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 320px) {
  #dialog-window {
    border: 1px black solid;
  }

  #scrollable-content {
    height: 250px;
    overflow: auto;
  }

  #footer {
    height: 20px;
  }
}
html,
body {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 20px;
  background-color: black;
}
html::-webkit-scrollbar-thumb {
  background-color: #fb923c;
  border: 0.25em solid rgb(0, 0, 0);
  border-radius: 100vw;
}
html::-webkit-scrollbar-thumb:hover {
  /* background-color: #777; */
}
html::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);

  border-radius: 100vw;
}
html::-webkit-scrollbar-track:hover {
  /* background-color: #555; */
}

html {
  scroll-behavior: smooth;
}

.mulishFont {
  font-family: "Hina Mincho", serif;
}

.dosisFont {
  font-family: "Dosis", sans-serif;
}
.nanumFont {
  font-family: "Nanum Myeongjo", serif;
}

.custom-img {
  background-image: url(https://images.unsplash.com/photo-1492691527719-9d1e07e534b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
}
.custom-img2 {
  background-image: url(https://images.unsplash.com/photo-1431068799455-80bae0caf685?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}
.custom-img3 {
  background-image: url(https://images.unsplash.com/photo-1590486803833-1c5dc8ddd4c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}

.header {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  transition: 0.3s ease-in;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.007);
}

.header-bg {
  background-color: rgba(0, 0, 0, 0.801);
  z-index: 6;
}

.redBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.redBottom:hover {
  border-bottom: 1px solid rgb(253 186 116);
  transition: 1s ease-in-out;
}

.slideColor {
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: ease-out 0.5s;
  outline: none;
}
.slideColor:hover {
  box-shadow: inset 148.47px 0 0 0 #ffffff;
}

.slideColor3 {
  /* background-color: rgba(254, 215, 170, 0); */

  box-shadow: inset 0 0 0 0 rgb(253 186 116);
  transition: ease-out 0.5s;
  outline: none;
}
.slideColor3:hover {
  box-shadow: inset 138.47px 0 0 0 rgb(253 186 116);
  color: black;
  border-color: black;
}

.orangeTransition:hover {
  color: rgb(253 186 116);
  transition: ease-in-out 1.5s;
}
.orangeTransitionB:hover {
  border-color: rgb(253 186 116);
  transition: ease-in-out 1.5s;
}
.slideColor2 {
  /* background-color: rgba(254, 215, 170, 0); */

  box-shadow: inset 0 0 0 0 #ffffff;
  transition: ease-out 0.5s;
  outline: none;
}
.slideColor2:hover {
  box-shadow: inset 0 0 100px 0 rgb(253 186 116);
  color: black;
}

.colorChange:hover {
  color: rgb(253 186 116);
  transition: 3 ease-in-out;
}

/* Accordion */
.item {
  margin-bottom: 10px;
  padding: 10px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* content show toggle */

/* .item .content {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
}

.item .content.show {
  height: 80px;

  color: rgb(156 163 175);
  font-weight: 100;
} */

.item .content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
  color: rgb(156 163 175);
  font-weight: 100;
}

/* .item .content-parent.show {
  height: auto;
 color: rgb(156 163 175);
  font-weight: 100;
 
  
} */

@layer components {
  .xlHeight {
    height: 400vh;
  }
}
